.container {
	margin: 100px auto; 
	text-align: center;
	padding: 20px auto;
	width: 1200px;
}

.container h2 {
	font-size: 32px;
	color: rgb();
	margin-bottom: 64px;
}

@media (max-width: 1200px) {
	.container {
		width: 900px;
	}
}

@media (max-width: 992px) {
	.container {
		width: 700px;
	}
}


@media (max-width: 768px) {
	.container {
		width: 500px;
	}
}


@media (max-width: 576px) {
	.container {
		width: 300px;
	}
}